@import 'normalize/variables';
@import 'normalize/vertical-rhythm';
@import 'normalize/normalize-mixin';

// 
@import 'reset';
@import "skel";

body {
    margin: 8px;
}

//
.columns,
.column {
    background: #eee;
    border: 1px #b9b9b9;
    border-radius: 10px;
    padding: 10px;
}
