@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');

//weights
$hairline: 100;
$thin: 300;
$regular: 400;
$bold: 900;

body {
    font-family: 'Lato', sans-serif;
}

p {
    font-weight: $thin;
}
.hairline {
    font-weight: $hairline;
}
.thin {
    font-weight: $thin;
}

.regular {
    font-weight: $regular;
}

.bold {
    font-weight: $bold;
}